.login {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
  .content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    max-width: 500px; /* Could be more or less, depending on screen size */
    padding: 16px;
    min-width: 370px;
    .heading {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2.5rem;
      color: #04AA6D;
      text-transform: uppercase;
      span {
        color: var(--green);
        text-transform: uppercase;
      }
    }
    form {
      flex: 1 1 40rem;
      .box {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      label {
        color: var(--white);
        font-size: 1rem;
      }
      span {
        font-size: 0.9rem;
        color: var(--light-white);
      }
    }
    .footer-form {
      color: var(--light-white);
      text-transform: none;
      a {
        text-decoration: none;
        font-size: 1rem;
        margin: 0 4px;
        color: var(--green);
        text-transform: none;
      }
    }
    .loginBtn {
      position: relative;
      cursor: pointer;
      background-color: #04aa6d;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      overflow: hidden;
      &:hover {
        opacity: 0.8;
      }

      span {
        position: absolute;
        display: block;
        background-color: var(--bs-purple) !important;
      }

      span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--bs-purple));
        animation: btn-anim1 1s linear infinite;
      }

      @keyframes btn-anim1 {
        0% {
          left: -100%;
        }
        50%,
        100% {
          left: 100%;
        }
      }

      span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(90deg, transparent, var(--bs-purple));
        animation: btn-anim2 1s linear infinite;
        animation-delay: 0.25s;
      }

      @keyframes btn-anim2 {
        0% {
          top: -100%;
        }
        50%,
        100% {
          top: 100%;
        }
      }

      span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--bs-purple));
        animation: btn-anim3 1s linear infinite;
        animation-delay: 0.5s;
      }

      @keyframes btn-anim3 {
        0% {
          right: -100%;
        }
        50%,
        100% {
          right: 100%;
        }
      }

      span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(90deg, transparent, var(--bs-purple));
        animation: btn-anim4 1s linear infinite;
        animation-delay: 0.75s;
      }

      @keyframes btn-anim4 {
        0% {
          bottom: -100%;
        }
        50%,
        100% {
          bottom: 100%;
        }
      }
    }
  }
}
